*{
    padding: 0;
    margin : 0;
    font-family: sans-serif;
}

body {
    background-image: url('assets/bg-svg.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0; 
}

.logo{
    font-size: 50px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-55%);
    
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.09);
    padding: 40px;
    border-radius: 10px;
}

.button-cardapio,
.button-pedido,
.button-fechamento {
    margin: 10px 0;
    margin-right: 38px;
}


.button-cardapio button,
.button-pedido button,
.button-fechamento button {
    width: 200px; /* Ajuste conforme necessário */
}
